.notes-preview a:hover{
    background: #e4e4e4;
    text-decoration: none;
}

/* note details */
.note-details .metadata{
    font-size: 14px;
}

/* create note form */
.create{
    max-width: 400px;
    margin: 20px auto;
}